.button--icon {
    color: #fff;
    background-color: #0b8b9f;
    border: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

}

#error {
    display:none;
}